# ===== IDE / Environment =====
.idea/
.vscode/
*.iml


# ===== Python cache & bytecode =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Test & local data =====
*.csv

*.log
development_system/fake_data/
development_system_localtest.py

# ===== Generated diagrams =====
*.svg
*.png
*.dot
*.puml


# ===== Temporary artifacts =====
*.tmp
*.bak
*.swp
.DS_Store

# ===== Build / Reports =====

